
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css">
    <title>App</title>
  </head>
  <body class="test">
    <h1 class="title">
      {{ message }}
    </h1>
    <p class="link-display">Current Link Being Used: <span style="color:red">{{ link }}</span></p>
    <div class="button-holder">
      <button onclick="onButtonClick()" class="button">
        Launch In App
      </button>
    </div>
    <script type="text/javascript" src="/js/scripts.js"></script>
  </body>
</html>
